@font-face {
  font-family: "titre";
  src: url("../font/robosapienhalf.ttf");
}
@font-face {
  font-family: "texte";
  src: url("../font/morgenlicht.ttf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: antiquewhite;
  background-color: #2c2c54;
  overflow-x: hidden;
}
li {
  text-align: center;
}
.barretop {
  display: flex;
  height: 5px;
  width: 100vw;
  background-color: #007e7e;
  z-index: 100;
}
.boxprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: url(../img/skyprofilpm.jpg) no-repeat top center;
  background-size: cover;
  z-index: 1;
}
.boxburger {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.Profil img {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  border: 2px solid #2c2c54;
  border-radius: 50%;
  z-index: 20;
}
.Profil::before {
  margin-top: 30px;
  margin-bottom: 20px;
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    #ff0000,
    #00f0f0,
    #00ff00,
    #0000ff,
    #d612bc,
    #00f0f0,
    #00ff00,
    #0000ff,
    #f00f0f
  );
  height: 150px;
  width: 150px;
  transform: scale(1.02);
  z-index: -1;
  background-size: 500%;
  animation: animate 20s infinite;
  border-radius: 50%;
  filter: blur(10px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.texteform {
  font-family: "texte";
  text-align: center;
}
h3 {
  color: aliceblue;
  font-family: "texte";
}
a {
  text-decoration: none;
}
/* position dans le header */
.box-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  height: 500px;
  width: 200px;
  position: absolute;
}
.menu h2 {
  display: block;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  font-family: "titre";
}
.Projet {
  display: block;
  text-align: center;
}
.Projet h2 {
  font-size: 24px;
  font-family: "titre";
}
.blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.nav {
  margin-top: -1000px;
  transition-duration: 0.5s;
}
.nav_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  transition-duration: 0.5s;
  width: 300px;
  z-index: 1;
}
.dropdown-content {
  margin-top: 20px;
  background-color: #444343;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 30px;
  border: 2px solid #011d38e7;
  text-decoration: none;
}

/* bouton burger */
.toggle_btn {
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  cursor: pointer;
}
.toggle_btn span {
  height: 3px;
  background-color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}
.toggle_btn span:before {
  content: "";
  height: 3px;
  background-color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}
.toggle_btn span:after {
  content: "";
  height: 3px;
  background-color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  margin-bottom: 10px;
}

h2 {
  font-family: "titre";
  color: aliceblue;
  cursor: pointer;
}
#bboutique {
  background: none;
  border: none;
}

.paral {
  width: 100%;
  height: 300px;
  background: url(../img/backgroundhautpm.jpg) no-repeat fixed top center;
  background-size: cover;
}

.para2 {
  width: 100%;
  height: 250px;
  background: url(../img/backgroundbaspm.jpg) no-repeat fixed top center;
  background-size: cover;
}
.histoire {
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #3d3d3d;
}
/* star animation border histoire */
.histoire span {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 2px;
  background: #50dfdb;
  animation: animati 9s linear infinite;
}
#span1 {
  top: 0;
  height: 2px;
}
#span2,
#span3 {
  height: 2px;
}
#span4 {
  top: 440px;
  height: 2px;
}
@keyframes animati {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* fin animation border histoire */
.histoire h2 {
  text-decoration: underline;
  font-family: "titre";
}
.vecu {
  padding-bottom: 10px;
  line-height: 35px;
  background-color: #ba3c23;
  /* padding: 10px 0 15px 0; */
}
.histo {
  width: 100%;
  height: 70px;
}
.comp {
  padding-top: 10px;
  line-height: 35px;
  background-color: #644b61;
  color: #031124;
}
.proje {
  width: 100%;
  height: auto;
  /* background: url(../img/stonetexturepm.jpg); */
}
.basdepage {
  width: 100%;
  height: auto;
  background: url(../img/stonetexturepm.jpg);
  background-size: cover;
}
/* slider */
#hcg-slider-1 .hcg-slide-container {
  width: auto;
  height: 200px;
}
.hcg-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}
.hcg-slides {
  display: none;
  text-align: center;
  overflow: hidden;
}
.hcg-slides img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #a0a0a0;
  vertical-align: middle;
  max-height: 200px;
}
.hcg-slide-text {
  color: #ffffff;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 50%;
  text-align: center;
  text-shadow: 0 0 2px #000;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  transform: translate(-50%, -5px);
}
.hcg-slide-prev,
.hcg-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.hcg-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.hcg-slide-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.hcg-slide-prev:hover,
.hcg-slide-next:hover {
  background-color: #000c;
}
.hcg-slide-dot-control {
  margin-top: 10px;
  text-align: center;
}
.hcg-slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.hcg-slide-dot.dot-active {
  background-color: #717171;
}
.hcg-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
.buttoncontact {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  /* box-shadow: 1px 1px 1px #bee2f9; */
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(to top, #63b8ee, #468ccf);
}
.buttoncontact:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
/* fin slider */
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* background: url(../img/stonetexturepm.jpg);
  width: 100%;
  height: auto; */
}
input[type="submit"] {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  /* box-shadow: 1px 1px 1px #bee2f9; */
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(to top, #63b8ee, #468ccf);
}
input[type="submit"]:hover {
  color: #14396a;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}
.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /* width: 100%;
  height: auto;
  background: url(../img/stonetexturepm.jpg); */
}
@media (min-width: 601px) and (max-width: 1023px) {
  .boxprofil {
    background: url(../img/skyprofilpt.jpg) no-repeat top center;
    background-size: cover;
  }
  .basdepage {
    background: url(../img/stonetexturept.jpg);
    background-size: cover;
  }
  .paral {
    background: url(../img/backgroundhautpt.jpg) no-repeat fixed top center;
    background-size: cover;
  }
  .para2 {
    background: url(../img/backgroundbaspt.jpg) no-repeat fixed top center;
    background-size: cover;
  }
  .histo {
    display: none;
  }
  .histoire {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 350px;
  }
  #span1 {
    height: 5px;
    margin-top: -5px;
  }
  #span3,
  #span2 {
    display: none;
  }
  #span4 {
    margin-top: -90px;
    height: 5px;
  }
  .vecu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .comp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10;
  }
  .comp h2 {
    color: #031124;
  }
  .histoire h2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .boxprofil {
    background: url(../img/skyprofil.jpg) no-repeat top center;
    background-size: cover;
  }
  .basdepage {
    background: url(../img/stonetexture.jpg);
    background-size: cover;
  }
  .paral {
    background: url(../img/backgroundhaut.jpg) no-repeat fixed top center;
    background-size: cover;
  }
  .para2 {
    background: url(../img/backgroundbas.jpg) no-repeat fixed top center;
    background-size: cover;
  }
  .histo {
    display: none;
  }
  .histoire {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 350px;
  }
  #span1 {
    height: 5px;
    margin-top: -5px;
  }
  #span3,
  #span2 {
    display: none;
  }
  #span4 {
    margin-top: -90px;
    height: 5px;
  }
  .vecu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .comp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10;
  }
  .comp h2 {
    color: #031124;
  }
  .histoire h2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .proje {
    height: 380px;
  }
  .hcg-slides img {
    max-height: 300px;
    margin-top: 38px;
  }

  .burger {
    display: none;
  }
  /* .menu .nav .nav_open {
    margin-top: 1000px;
  } */

  .nav {
    margin-top: 0;
    transition-duration: 0s;
  }
  /*
  .Projet:hover .dropdown-content {
    display: block;
  }
  .nav {
  margin-top: -1000px;
  transition-duration: 0.5s;
}
.nav_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  transition-duration: 0.5s;
  width: 300px;
  z-index: 1;
}
.dropdown-content {
  margin-top: 20px;
  background-color: #444343;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 30px;
  border: 2px solid #011d38e7;
  text-decoration: none;
} */

  /*
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  #bboutique {
    background: none;
    border: none;
  } */
}
